* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

body > .container-fluid {
  min-height: 100vh;
	display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1;
  height: 50px;
}
main {
  grid-row: 2;
  margin-top: 50px;
}
footer {
  grid-row: 3;
  height: 50px;
}

@mixin warningMessage {
  margin: 0;
  color: rgb(255, 0, 0);
}

.add-menu-btn, .menu-index-list, .category-name-change {
  cursor: pointer;
}

.error-messages {
  @include warningMessage;
}
.report {
  .date-picker-wrapper {
    #datepicker {
      width: 50%;
      padding: 0.1rem 0.5rem;
      border-radius: 5px;
      border: solid 0.1rem rgb(214, 214, 214);
    }
    position: relative;
    #datepicker:hover {
      outline: 0.1rem ridge #4169e1;
    }
    .get-day-wrapper {
      position: absolute;
      right: 5%;
    }
  }
  .report-contents {
    .regist-btn {
      width: 20%;
    }
  }
}

#pagetop {
  display: none;
  cursor: pointer;
  margin: 1rem;
  position: fixed;
  bottom: 50px;
  right: 1rem;
}