@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

body > .container-fluid {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header > div, footer > div,
.date-picker-wrapper,
#contents_header,
#menu_header {
  background-color: #0b7c02;
}

header > div {
  border-bottom: solid .1px white;
}

#contents_header, #report_modal_label {
  color: white;
}

#report_plan_title {
  background-color: #0b7c02;
}

#report_plan_title h5 {
  color: white;
}

#report_plan_title textarea {
  background-color: black;
  color: white;
}

#report_plan_title .modal-footer button {
  border: solid .1px white;
}

#report_modal_label {
  color: white;
}

.fixed-top {
  z-index: 999;
}

header {
  -ms-grid-row: 1;
  grid-row: 1;
  height: 50px;
}

header h1 {
  color: white;
}

main {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 50px;
}

main #header_navbar {
  background-color: black;
  border-bottom: solid .1px white;
}

main #border_top_change {
  border: none;
}

footer {
  -ms-grid-row: 3;
  grid-row: 3;
  height: 50px;
}

footer p {
  color: white;
}

#main_index {
  background-color: black;
}

#overlay {
  display: none;
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#overlay #modal {
  width: 500px;
  margin: 0 auto;
  margin-top: 20%;
  border: solid 1px black;
  background-color: white;
}

@media (max-width: 767px) {
  #overlay #modal {
    width: 70%;
  }
}

#overlay #modal div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: .5rem;
  border-bottom: solid 1px black;
  color: red;
}

@media (max-width: 575px) {
  #overlay #modal div:first-child {
    font-size: .9rem;
  }
}

#overlay #modal div:first-child span > img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

#overlay #modal div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem;
}

@media (max-width: 575px) {
  #overlay #modal div:nth-child(2) {
    font-size: .9rem;
  }
}

.add-menu-btn, .category-name-change {
  cursor: pointer;
}

.error-messages {
  margin: 0;
  color: red;
}

.report {
  background-color: black;
}

.report .date-picker-wrapper {
  color: white;
  position: relative;
}

.report .date-picker-wrapper #datepicker {
  width: 50%;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border: solid 0.1rem #d6d6d6;
}

.report .date-picker-wrapper #datepicker:hover {
  outline: 0.1rem ridge #4169e1;
}

.report .date-picker-wrapper .get-day-wrapper {
  position: absolute;
  right: 5%;
}

.report .report-contents {
  background-color: black;
}

.report .report-contents #actual_work_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report .report-contents #actual_work_link p {
  display: inline-block;
  padding: 1rem;
  color: white;
  margin-bottom: 0;
}

.report .report-contents #actual_work_link a {
  text-decoration: none;
}

.report .report-contents #work_time_label,
.report .report-contents #home_time_label {
  color: white;
}

.report .report-contents .regist-btn {
  width: 20%;
}

.report .report-contents #report_contents {
  background-color: black;
}

.menu {
  background-color: black;
}

.menu #menu_body {
  background-color: black;
}

.menu #add_category {
  border: solid .1px white;
}

.menu #add_category .modal-header {
  background-color: #0b7c02;
}

.menu #add_category .modal-header h5 {
  color: white;
}

.menu #add_category .modal-body {
  background-color: #0b7c02;
  padding: 4px;
}

.menu #add_category .modal-body input {
  background-color: black;
  color: white;
}

.menu #add_category .modal-footer {
  background-color: #0b7c02;
}

.menu #add_category .modal-footer button {
  border: solid .1px white;
}

.menu #menu_list {
  color: white;
}

#pagetop {
  display: none;
  cursor: pointer;
  margin: 1rem;
  position: fixed;
  bottom: 50px;
  right: 1rem;
}
