* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

//categoryページcss↓
.category {
  #category_contents {
    margin: 0;
  }
  .btn-wrapper {      
    #edit_category_close {
      display: none;
    }
    button:not([last-child]) {
      font-size: 0.9rem;
    }
  }
  #category_contents_wrapper {
    display: none;
  }
}