* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#menu_contents_main {
  background-color: black;
}

.category #category_header_name {
  background-color: #0b7c02;
}

.category #category_header_name #change_name {
  background-color: #fffc00;
  color: black;
}

.category #category_contents {
  margin: 0;
}

.category .btn-wrapper #edit_category_close {
  display: none;
}

.category .btn-wrapper button:not([last-child]) {
  font-size: 0.9rem;
}

.category #category_contents_wrapper {
  display: none;
}

.category #edit_category {
  background-color: black;
}

.request-refuse {
  color: red;
  margin-top: 50px;
}
